<html>
  <head>
    <title>The Dogcam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
  </head>
  <body>

	<div class="text-center">
      <img src="{{ url_for('static', filename='dog.png') }}" align="middle">
      <a href="/logout" role="button" class="btn btn-success btn-warning">Logout</a>

    </div>

	<div class="text-center">
      <br>
    	<img src="{{ url_for('video') }}" align="middle">
    </div>




  </body>
</html>


