<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>DogCam</title>
  </head>
  <body>

    <div class='dog'>
      <div class='head'>
        <div class='nose'></div>
        <div class='ear'></div>
      </div>
      <div class='body'>
        <div class='paw'></div>
        <div class='tail'></div>
      </div>
      <div class='bone'>
        <div class='left'></div>
        <div class='right'></div>
      </div>
    </div>


    <div class="dog">
      <br>
      <form action="" method="post">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>



  </body>
</html>
