
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" href="/static/style2.css" type="text/css">

{% block body %}
{% if session['logged_in'] %}
 
You're logged in already!
 
{% else %}
 

<div class="text-center">
	<img src="{{ url_for('static', filename='dog2.png') }}" align="middle">
</div>

 <div class="container">
	<form action="/login" method="POST">
	<div class="login">
	<div class="login-screen">
	<div class="app-title">
	<h1>Login</h1>
	</div>
	<div class="login-form">
	<div class="control-group">
					<input type="password" class="login-field" value="" placeholder="password" name="password">
	<label class="login-field-icon fui-lock" for="login-pass"></label></div>
	<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
	</div>
	</div>
	</div>
	</form>{% endif %}
</div>








{% endblock %}
